@namespace "http://www.gov.org/east";
@namespace west "http://www.gov.org/west";

state,
west|state {
  display: block;
  margin: 5px 0;
  padding: 8px;
}

state {
  background-color: #d0e7ff;
}

west|state {
  background-color: #ffe4b5;
}

name,
capital,
west|name,
west|capital {
  display: inline;
  margin-right: 10px;
  font-weight: bold;
}
