@namespace "http://www.gov.org/east";
@namespace west "http://www.gov.org/west";

state,
west|state {
  display: block;
}

state {
  background-color: #44e0fb;
}

west|state {
  background-color: #dfb367;
}
